.sort-icons {
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-left: 4px;
}

.arrow {
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  opacity: 0.3;
}

/* UP TRIANGLE */
.arrow.up {
  border-bottom: 6px solid #94a3b8; /* gray */
}

/* DOWN TRIANGLE */
.arrow.down {
  border-top: 6px solid #94a3b8;
}

/* ACTIVE STATE */
.arrow.active {
  opacity: 1;
  border-bottom-color: #1ddec4;
  border-top-color: #1ddec4;
}