.btn-content {
  border: 1px solid #1DDEC4 !important;
  color: #1DDEC4;
  padding: 10px 15px;
  transition: .2s;
  font-weight: 500;
}

.btn-content:hover {
  background: #1DDEC4;
  color: #fff !important;
  border-radius: 25px;

}

.submit-btn {
  padding: 6px 20px;
  background-color: #1DDEC4;
  color: #fff;
  border: 1px solid #1DDEC4;
  border-radius: 8px;
  transition: .2s;
  font-weight: 500;


}

.submit-btn:hover {
  border-radius: 25px;
  background-color: #ffffff !important;
  color: #1DDEC4;
  border: 1px solid #1DDEC4;


}


.user-details {
  width: 97%;
  margin: 0 10px;

}

@media (max-width: 1185px) {
  .btn-content {
    padding: 10px 7px;
    width: 193px !important;
  }

  .navbar-responsive {
    flex-wrap: wrap !important;
  }
}

@media (max-width: 1024px) {
  .navbar-responsive {
    display: flex;
    justify-content: center !important;
    align-items: center;
  }

  .btn-content {
    width: 200px !important;
  }
}

@media (max-width: 1282px) {
  .btn-content {
    padding: 10px 7px;
    width: 193px !important;
  }

  .navbar-responsive {
    flex-wrap: wrap !important;
    justify-content: center !important;
  }
}

@media (max-width: 1024px) {

  .navbar-responsive {
    display: flex;
    justify-content: center !important;
    align-items: center;
  }

  .btn-content {
    width: 200px !important;
  }
}

@media (max-width: 768px) {
  .address .col-lg-6 {
    width: 50%;
  }

  .navbar-responsive {
    display: flex;
    justify-content: center !important;
    align-items: center;
  }

  .btn-content {
    width: 200px !important;
  }

  .div {
    margin-left: 0;
    width: auto;
  }

  .user-details {
    margin-left: 0;
    width: auto;
  }
}

/* manage user  css start */
.btn-primary {
  background-color: #1DDEC4 !important;
  color: #ffffff;
  border: 1px solid #1DDEC4 !important;
  font-weight: 500;
  transition: all ease-in-out .3s;
}

.btn-primary {
  background-color: #0ccfb5;
  border: 1px solid #0ccfb5;

}

.btn.show,
.btn:first-child:active,
:not(.btn-check)+.btn:active {
  background-color: #0ccfb5 !important;
  border: 1px solid #0ccfb5;
}

.dropdown-item:hover {
  color: #0ccfb5;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: #0ccfb5 !important;
  color: #fff;
}

/* manage user  css end */
/* profile css start */
.active {
  /* background-color: #0ccfb5 !important; */
  color: white !important;
}

.active-btns {
  background-color: #0ccfb5 !important;
  color: white !important;
}

.img-div {
  width: 100px;
  height: 100px;
  margin: 10px 10px;
}

.profile-img2 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.profile-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.content {
  display: flex;
  justify-content: center;

}

.content h6 {
  margin: 28px 0;

}

@media (max-width: 768px) {
  .responsive-btn p {
    margin: auto;
  }

  .action-btn {
    margin: auto;
  }

  .img-div {
    margin: auto;
  }

  .mobile-view {
    text-align: center;
    width: 100%;
    margin-top: 20px;
  }
}

@media (max-width: 540px) {

  .pagination {
    font-size: 10px;
  }

  .address .col-lg-6 {
    width: 100%;
  }
}

/* view profile start start */
.profile-div {
  width: 200px;
  height: 200px;
  margin: 10px 10px;
  border-radius: 50%;
}

.profile-div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

/* view rofile end start  */
.search-input:focus {
  border: 1px solid #f2f2f2;
  outline: none;
}




/* Table container */
.table-container {
  /* max-height: 500px; */
  overflow-y: auto;
  border: 1px solid #ddd;
}

/* This is enough to make the header sticky */
.fixed-header-table thead th {
  position: sticky;
  top: 0;
  font-weight: 500;
  background-color: #fff;
  z-index: 2;
  padding: 8px;
  border-bottom: 1px solid #ccc;
  text-align: center;
  min-width: 160px;
  /* Set as needed */
}

/* 6/04 */
.btn-primary:hover{
  border: 1px solid #0ccfb5 !important;
  background: white !important;
  color: #0ccfb5 !important;
}

 /* 06/04  */
 .action-btn{
  font-size: 13px;
  border-radius: 10px;
  transition: all ease-in-out .3s;
   }

  .custom-search:focus {
  border-color: #1ddec4;
  box-shadow: 0 0 0 2px rgba(29, 222, 196, 0.15);
}

/* MODAL DESIGN */
.custom-modal .modal-content {
  border-radius: 16px;
  padding: 10px;
}

.custom-modal .modal-header {
  border-bottom: none;
}

.custom-modal .modal-title {
  font-size: 16px;
  font-weight: 600;
}
.btn{
  display: flex;
  align-items: center;
  gap: 4px;
}

.custom-modal-width{
  max-width: 600px;
  width: 100%;
}